.feature_section {
    margin-top: 180px;
    justify-content: space-between;
}


.left_cont {
    max-width: 425px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 34px;
}

.left_cont h1 {
    font-size: 34px;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.left_cont p {
    color: var(--color-subtext);
}

.right_cont {
    flex-direction: column;
    gap: 50px;
    width: 70%;
}

.mono_feature hr {
    margin-bottom: 5px;
}

.mono_feature_main {
    justify-content: flex-end;
    gap: 74px;
}

.mono_feature_main h2 {
    max-width: 200px;
    font-size: 20px;
}

.mono_feature_main p {
    color: var(--color-text);
    max-width: 400px;
    font-size: 14px;
}


@media screen and (width<479px) {
    .feature_section {
        flex-direction: column;
        align-items: center;
        gap: 90px;
        margin-bottom:7rem;
    }

    .left_cont {
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .right_cont {
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    .mono_feature_main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 5px;
    }


    .mono_feature_main h2 {
        font-size: 20px;
        max-width: 100%;
    }

    .mono_feature_main p {
        color: var(--color-text);
        max-width: 400px;
        font-size: 14px;
    }


}