.navbar {
    align-items: center;
    color: white;
    margin-top: 50px;
    justify-content: space-between;
}

.navbarLinks {
    align-items: center;
    justify-content: space-between;
    gap: 30rem;

}

.navbarLinksMain {
    gap: 30px;
}

.navbarLinksMain a:hover {
    color: #fd9d88;
    transition: 0.2s ease-in-out;
}

.navbarLogo img {
    width: 60px;
}

.navbarLogo a {
    align-items: center;
    justify-content: center;
}

.navbarLinksButtons {
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.SignInButton:hover {
    color: #fd9d88;
    transition: 0.2s ease-in-out;
}

.SignUpButton {
    border-radius: 4px;
    padding: 16px 34px;
    background-color: #FF4820;
}



@media screen and (width<479px) {
    .navbar {
        flex-direction: column;
    }

    .navbarLinks {
        position: absolute;
        /* visibility: hidden; */
        background-color: #042C54;
        border-radius: 6px;
        width: 100%;
        padding: 20px 0;
        flex-direction: column;
        gap: 50px;
        margin-top: 40px;
    }

    .navbarLinksMain {
        flex-direction: column;
        align-items: center;
    }

    .navbarLinksButtons {
        flex-direction: column;
    }

    .SignUpButton {
        border-radius: 4px;
        padding: 16px 100px;
        background-color: #FF4820;
    }


}