@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}


/* Utility Classes */
.flex {
  display: flex;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding: var(--padding-inline-section);
  overflow: hidden;
}

